.account-settings {
  min-height: 100vh;
  background: #f7f8f9;
}

.account-header {
  background: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.account-header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  color: #1d2226;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 30px 20px 20px;
}

.profile-image-wrapper {
  position: relative;
}

.profile-image {
  width: 76px !important;
  height: 76px !important;
}
.cameraIcon{
    width: 30px;
}
.camera-btn {
  position: absolute !important;
  right: -5px;
  bottom: 2px;
  background: #6c25ff !important;
  color: white !important;
  width: 20px !important;
  height: 20px !important;
}

.camera-btn:hover {
  background: #6c25ff !important;
}

.profile-info h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #1d2226;
}

.profile-info p {
  margin-top: 6px;
  color: #1d2226;
  font-size: 16px;
}

.profile-description {
  padding: 0 20px 20px;
  line-height: 1.8;
  font-size: 16px;
  color: #1d2226;
  font-weight: 500;
}

.dashed-line {
  border-bottom: 2px dashed #d9d9d9;
  margin-top: 10px;
}